$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/';

$pure-white: #fff;

body {
  background-image: url('http://i.imgur.com/2jDURcW.jpg');
  font-family: 'Oswald', sans-serif;
  padding: 45px;
}

section {
  @include make-row();
  padding: 15px;
  }

.empty-square:hover {
  filter: alpha(opacity = 85);
  opacity: .85;
  }

.board {
  background-color: $pure-white;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin: 15px auto;
  max-width: 650px;
}

.logo {
  margin: 40px auto;
  text-align: center;
}

#account {
  left: 10px;
  position: absolute;
  top: 30px;
}

#rules {
  position: absolute;
  right: 10px;
  top: 30px;
}

.scoreboard {
  position: absolute;
  right: 10px;
  top: 30px;
}

.games-total {
  position: absolute;
  left: 20px;
  top: 90px;
}

.x-wins img {
  margin: 0 auto;
  max-width: 200px;
}

.o-wins img {
  margin: 0 auto;
  max-width: 200px;
}

.tie img {
  margin: 0 auto;
  max-width: 200px;
}

.x-wins h2 {
  color: $pure-white;
}

.o-wins h2 {
  color: $pure-white;
}

.tie h2 {
  color: $pure-white;
}

@media (max-width: 700px) {
  .logo img {
    margin: 105px auto 0;
    max-width: 250px;
    text-align: center;
  }
}
