$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/';

body {
  background-image: url('http://i.imgur.com/2jDURcW.jpg');
  padding: 45px;
  font-family: 'Oswald', sans-serif;
}

section {
  @include make-row();
  padding: 15px;
  }

.emptySquare:hover {
  opacity: .85;
  filter: alpha(opacity = 85);
  }

.board {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color: #fff;
  max-width: 650px;
  margin: 15px auto;
}

.logo {
  text-align: center;
  margin: 40px auto;
}

#account {
  position: absolute;
  top: 30px;
  left: 10px;
}
#rules {
  position: absolute;
  top: 30px;
  right: 10px;
}

.x-wins img{
  max-width: 200px;
  margin: 0 auto;
}
.o-wins img{
  max-width: 200px;
  margin: 0 auto;
}
.tie img{
  max-width: 200px;
  margin: 0 auto;
}
.x-wins h2{
  color: #fff;
}
.o-wins h2{
  color: #fff;
}
.tie h2{
  color: #fff;
}
